# Телеграм и API
TELEGRAM_BOT_TOKEN=81*********bD27nyo
SCRAPPER_URL=http://scrapper:8081
BOT_URL=http://bot:8080
GITHUB_TOKEN=ghp_************Y2QpOXv
STACKOVERFLOW_KEY=rl_Sn*****************Ydzh
STACKOVERFLOW_ACCESS_KEY=Qc**********sHSQ))

# PostgreSQL
POSTGRES_DB=scrapper
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
SPRING_DATASOURCE_URL=jdbc:postgresql://postgresql:5432/scrapper
SPRING_DATASOURCE_USERNAME=postgres
SPRING_DATASOURCE_PASSWORD=postgres

# Valkey Кластер (Внутренние настройки для Docker-сети)

# Список для Spring (через запятую)
SCRAPPER_VALKEY_CLUSTER_NODES=valkey-node-1:6379,valkey-node-2:6379,valkey-node-3:6379

# Список для команды инициализации (через пробел)
VALKEY_NODES_LIST=valkey-node-1:6379 valkey-node-2:6379 valkey-node-3:6379
VALKEY_PASSWORD=my_secure_valkey_password
VALKEY_TTL=10m

# Внешние порты (для твоего доступа с хоста)
VALKEY_PORT_1=6379
VALKEY_PORT_2=6380
VALKEY_PORT_3=6381

# Имена хостов (контейнеров)
VALKEY_HOST_1=valkey-node-1
VALKEY_HOST_2=valkey-node-2
VALKEY_HOST_3=valkey-node-3

SCRAPPER_VALKEY_CLIENT_SIDE_CACHE_ENABLED=true
