# Телеграм
TELEGRAM_BOT_TOKEN=81*********bD27nyo

# Сеть Docker (алиасы из docker-compose)
SCRAPPER_URL=http://scrapper:8081
BOT_URL=http://bot:8080

# Внешние API
GITHUB_TOKEN=ghp_************Y2QpOXv
STACKOVERFLOW_KEY=rl_Sn*****************Ydzh
STACKOVERFLOW_ACCESS_KEY=Qc**********sHSQ))

# База данных PostgreSQL (для инициализации контейнера)
POSTGRES_DB=scrapper
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

# База данных для Scrapper и Liquibase
SPRING_DATASOURCE_URL=jdbc:postgresql://postgresql:5432/scrapper
SPRING_DATASOURCE_USERNAME=postgres
SPRING_DATASOURCE_PASSWORD=postgres

# ==========================================
# KAFKA CLUSTER SETTINGS
# ==========================================
# Порты для доступа к брокерам снаружи Docker-сети
KAFKA_1_PORT=29092
KAFKA_2_PORT=29093
KAFKA_3_PORT=29094

# Настройки для Kafka UI
KAFKA_UI_PORT=8082

# Адреса брокеров для Spring Boot (scrapper и bot)
KAFKA_BOOTSTRAP_SERVERS=link-tracker-kafka-1:9092,link-tracker-kafka-2:9092,link-tracker-kafka-3:9092
KAFKA_TOPIC_LINK_UPDATES=link-updates

SPRING_DATA_REDIS_HOST=redis
SPRING_DATA_REDIS_PORT=6379

KAFKA_SCHEMA_REGISTRY_URL=http://schema-registry:8081

KAFKA_TOPIC_PARTITIONS=3
KAFKA_TOPIC_REPLICAS=3
