# Телеграм
TELEGRAM_BOT_TOKEN=81*********bD27nyo

# Сеть Docker (алиасы из docker-compose)
SCRAPPER_URL=http://scrapper:8081
BOT_URL=http://bot:8080

# Внешние API
GITHUB_TOKEN=ghp_************Y2QpOXv
STACKOVERFLOW_KEY=rl_Sn*****************Ydzh
STACKOVERFLOW_ACCESS_KEY=Qc**********sHSQ))

# База данных PostgreSQL (для инициализации контейнера)
POSTGRES_DB=scrapper
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

# База данных для Scrapper и Liquibase
SPRING_DATASOURCE_URL=jdbc:postgresql://postgresql:5432/scrapper
SPRING_DATASOURCE_USERNAME=postgres
SPRING_DATASOURCE_PASSWORD=postgres

# Порты для доступа к брокерам снаружи Docker-сети
KAFKA_1_PORT=29092
KAFKA_2_PORT=29093
KAFKA_3_PORT=29094

# Настройки для Kafka UI
KAFKA_UI_PORT=8082

# Адреса брокеров для Spring Boot (scrapper и bot)
KAFKA_BOOTSTRAP_SERVERS=link-tracker-kafka-1:9092,link-tracker-kafka-2:9092,link-tracker-kafka-3:9092
# KAFKA_TOPIC_LINK_UPDATES=link-updates

KAFKA_SCHEMA_REGISTRY_URL=http://schema-registry:8081

KAFKA_TOPIC_PARTITIONS=3
KAFKA_TOPIC_REPLICAS=3

# Valkey Кластер (Внутренние настройки для Docker-сети)

# Список для Spring (через запятую)
SCRAPPER_VALKEY_CLUSTER_NODES=valkey-node-1:6379,valkey-node-2:6379,valkey-node-3:6379

# Список для команды инициализации
VALKEY_NODES_LIST=valkey-node-1:6379 valkey-node-2:6379 valkey-node-3:6379
VALKEY_PASSWORD=my_secure_valkey_password
VALKEY_L1_TTL=1m
VALKEY_L2_TTL=10m

# Внешние порты (для твоего доступа с хоста)
VALKEY_PORT_1=6379
VALKEY_PORT_2=6380
VALKEY_PORT_3=6381

# Имена хостов (контейнеров)
VALKEY_HOST_1=valkey-node-1
VALKEY_HOST_2=valkey-node-2
VALKEY_HOST_3=valkey-node-3

SCRAPPER_VALKEY_CLIENT_SIDE_CACHE_ENABLED=true

KAFKA_TOPIC_RAW_UPDATES=link.raw-updates
KAFKA_TOPIC_PROCESSED_UPDATES=link.processed-updates

# AI AGENT (Интеграция с Gemini)
AI_AGENT_SUMMARIZATION_PROVIDER=API

AI_AGENT_SUMMARIZATION_API_BASE_URL=https://generativelanguage.googleapis.com/v1beta
AI_AGENT_SUMMARIZATION_API_TOKEN=твой_токен_gemini
AI_AGENT_SUMMARIZATION_API_MODEL=gemini-2.5-flash
