TELEGRAM_TOKEN=81*********bD27nyo
SCRAPPER_URL=http://scrapper:8000
BOT_URL=http://bot:8080
GITHUB_TOKEN=ghp_************Y2QpOXv
STACKOVERFLOW_KEY=rl_Sn*****************Ydzh
STACKOVERFLOW_ACCESS_KEY=Qc**********sHSQ))
